*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.padre{
    background-color: blue;
    border: 4px brown dotted;
    margin-top: 100px;
}
.box{
    display: inline-block;
    background-color: green;
    width: 100px;
    height: 100px;
}

#uno{
    background-color: aqua;
}

#dos{
    background-color: orange;
    position: sticky;
    top: 20px;
}

#tres{
    background-color: gold;
}

#cuatro{
    background-color: purple;
}