*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.A{
    background-image: url(fondo.jpg);
}

.a{
    background-image: url(fondo.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#img{
    border: 30px;
}
